{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/board.css'%}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
{%block content%}{%endblock%}
</body>
</html>

<script type="text/javascript">
	$("#dialog").dialog({ autoOpen: false, modal: false, height: "auto", width: "auto" });;

	$(".text-link").click(function() {
	    var text = $("#comment_area_id").val();
	    var id = $(this).attr('id');
	    $("#comment_area_id").val(text + ">>" + id.toString().substr(1));
		var target_top = $("#comment_area_id").offset();
		$('html, body').animate({
			scrollTop: target_top
		}, 'slow');
	})

	$("a[href ^= '#p']").mouseenter(function() {
		var link = $(this).attr('href').substr(2);
		$("#dialog").html("");
		$("#dialog").load('/' + link, function(responseTxt, statusTxt, xhr){
	        if(statusTxt == "error") {
	            $("#dialog").html("Error: " + xhr.status + ": " + xhr.statusText);
	        }
	    });
		$("#dialog").dialog("open");
	})

	$("a[href ^= '#p']").mouseleave(function() {
		var link = $(this).attr('href').substr(2);
		$("#dialog").dialog("close");
	})

	$("a[href ^= '#p']").click(function() {})

	$(".ui-dialog-titlebar").attr({"hidden" : "True"})
	$("#dialog").attr({"padding" : "0"})
</script>
