{% extends 'board/base.html' %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load board_extras %}
{% block content %}
{%  include 'board/menu.html' %}
{% autoescape on %}
<div id="dialog"></div>
<h1>New post</h1>
 <form method="POST" class="post-form" action="{% url 'board_content' cur_board.slug%}" enctype='multipart/form-data'>{% csrf_token %}
    {% include 'board/form.html' %}
    <input type="submit" value="Submit">
</form>
<hr />

{% for thread in threads %}
	{%  include 'board/thread.html' %}

	{% for post in thread|get_posts %}
		{%  include 'board/post.html' %}
	{% endfor %}
	<hr />

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}"  class="btn btn-default">previous</a>
        {% endif %}

        {% for index in threads.paginator.num_pages|range_1_N %}
			<a href="?page={{ index }}" class="btn btn-default">{{ index }}</a>
		{% endfor %}
        
        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}"  class="btn btn-default">next</a>
        {% endif %}
    </span>
</div>
{% endautoescape%}
{%endblock%}
