<div class = "postarea">
	<table width="1%">
	<tbody>
		<tr>
			<td class="postblock" for="id_title">Title</td>
			<td>
				<input id="id_title" maxlength="200" name="title" type="text" required="">
			</td>
		</tr>
		<tr>
			<td class="postblock" for="comment_area_id">Comment:</td>
			<td><textarea cols="40" id="comment_area_id" maxlength="2000" name="comment" rows="10" required=""></textarea></td>
		</tr>
		<tr>
			<td class="postblock" for="id_image">Image:</td>
			<td><input name="image" type="file" id="id_image" size="40" accept="image/*">   </td>
		</tr>
		<tr>
			<td class="postblock" for="id_captcha">Captcha:</td>
			<td class="g-recaptcha" data-sitekey="6LedwwcUAAAAAJltf1i7LLXA6sejXFqpd2UZRsaj"></td>
		</tr>
	</tbody>
	</table>
</div>
