{% load thumbnail %}
{% load markdown_deux_tags %}
{% load board_extras %}
{% autoescape on %}
<table>
<tbody>
<tr class="reply">
	<td>
		{% if post.image %}
			<a href="{{post.image.url}}">{%thumbnail post.image "300x200" crop="center" as im%}<img src='{{im.url}}' class="thumb">{%endthumbnail%}</a>
		{% endif %}
		
	</td>
	<td>
		<div><strong>{{post.title}}</strong> on {{post.created_date}} <a class="text-link" id = "p{{post.id}}" href="#id_comment">№{{post.id}}</a> </div> 
		<blockquote>{{post.comment|post_links|safe}}</blockquote>
	</td>
</tr>
</tbody>
</table>
{% endautoescape %}
