{% extends 'board/base.html' %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load board_extras %}
{% block content %}
{%  include 'board/menu.html' %}
{% autoescape on %}
<div id="dialog"></div>

<h1>New post</h1>
 <form method="POST" class="post-form" action="{% url 'thread_content' cur_board.slug cur_thread.id%}" enctype='multipart/form-data'>{% csrf_token %}
    {% include 'board/form.html' %}
    <input type="submit" value="Submit">
</form>
<hr />

	<div class="thread">
		<div class="data"><strong>{{cur_thread.title}}</strong> on {{cur_thread.created_date}} <span class="reflink"><a id ="p{{cur_thread.id}}" class="text-link" href="#id_comment">№{{cur_thread.id}}</a> </span>[<a href="{% url 'thread_content' cur_board.slug cur_thread.id%}">Ответ</a>]</div>
		{% if cur_thread.image %}
			<a href="{{cur_thread.image.url}}">{%thumbnail cur_thread.image "300x200" crop="center" as im%}<img src='{{im.url}}' class="thumb">{%endthumbnail%}</a>
		{% endif %}
		<blockquote>{{cur_thread.comment|post_links|safe}}</blockquote>
		<br clear="all" />
	</div>

{% for post in posts %}
	{%  include 'board/post.html' %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <button href="?page={{ posts.previous_page_number }}" class="btn btn-default")'>previous</button> 
        {% endif %}


        {% for index in posts.paginator.num_pages|range_1_N %}
			<a href="?page={{ index }}" class="btn btn-default">{{ index }}</a>
		{% endfor %}


        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" class="btn btn-default">next</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>
    </span>
</div>
{% endautoescape %}
{%endblock%}