{% load thumbnail %}
{% load markdown_deux_tags %}
{% load board_extras %}
{% autoescape on %}
	<div class="thread">
		<div class="data"><strong>{{thread.title}}</strong> on {{thread.created_date}}<a id ="p{{thread.id}}" class="text-link" href="#id_comment">№{{thread.id}}</a> [<a href="{% url 'thread_content' cur_board.slug thread.id%}">Ответ</a>]</div>
		{% if thread.image %}
			<a href="{{thread.image.url}}">{%thumbnail thread.image "300x200" crop="center" as im%}<img src='{{im.url}}' class="thumb">{%endthumbnail%}</a>
		{% endif %}
		<blockquote>{{thread.comment|post_links|safe}}</blockquote>
	</div>
{% endautoescape %}
